
course_project/.Rhistory

*.pper

course_project/.Rproj.user/1FEA3376/persistent-state

course_project/.Rproj.user/1FEA3376/sdb/per/t/241D2602

course_project/.Rproj.user/1FEA3376/sdb/per/t/A96044FB

course_project/.Rproj.user/1FEA3376/sdb/prop/9268A927

course_project/.Rproj.user/1FEA3376/sdb/prop/EB0279FA

course_project/.Rproj.user/1FEA3376/sdb/prop/INDEX

*.dcf

course_project/course_project.Rproj
